<div class="container">
  
  <div>
    <form #userdata = "ngForm" (ngSubmit) = "onClickSubmit(userdata.value)" >
        <!-- <div style="margin-bottom:5px;">
            <label for="phone_number">Enter 7 or 10 digit phone number: </label>
            <input id="phone_number" type = "text" name = "phone_nbr"
             placeholder = "phone_nbr" ngModel [(ngModel)] = "phone_nbr"> 
        </div> -->
        <div style="margin-bottom:5px;">
            <label for="phone_number">Enter 7 or 10 digit phone number: </label>
             <input id="phone" type="number" class="form-control" name="phone"
              [(ngModel)]="phone" [class.is-invalid]="phonengModel.errors?.phoneNumberInvalid &&
               (phonengModel.touched || phonengModel.dirty)" #phonengModel="ngModel"
                phoneValidateDirective="phone">
             <span class="invalid-feedback" *ngIf="(phonengModel.touched || phonengModel.dirty) &&
              phonengModel.errors?.phoneNumberInvalid"> <!-- Checked the errors property contains the 'phoneNumberInvalid' property or not which is returned by the validation function -->
				Phone number must be of 7 or 10 digit
			 </span>
        </div>
        <!-- <div style="margin-bottom:5px;">
            <label for="record_count">Enter no. of records to be displayed per page: </label>        
            <input id="record_count" type = "text" name = "record_count"
             placeholder = "record_count" ngModel [(ngModel)] = "record_count">
        </div> -->
        <input type = "submit" value = "submit" [disabled]="!userdata.valid || !phone">
     </form>
  </div>  
  
  <div>
      <label for="totalRecords">Total Records: {{ totalRecords }} </label>
  </div>

 <div>
    <p-table class="mobile-key-table" [columns]="cols" [value]="mobileKeys" [lazy]="true"
     (onLazyLoad)="loadMobileKeysLazy($event)" [paginator]="true" 
    [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
 </div>
 
</div>